.content {
  display: grid;
  grid-template-columns: 57.64% 1fr;
  background: var(--gray-800)
}

.content > img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.form {
  padding: 3.87rem 4rem 3.38rem 4.6rem;
}

.contentInfo > h1 {
  margin-top: 4.95rem;
  line-height: 2.93rem;
  color: var(--white);
  font-size: 2.5rem;
}

.contentInfo > p {
  margin-top: 1rem;
  height: 6.25rem;
  line-height: 2.93rem;
  color: var(--gray-400);
  line-height: 162.5%;
}

.contentButtons {
  margin-top: 3.38rem
}

.contentButtons > button {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  color: var(--white);
  border: none;
  margin-bottom: 24px;
}

.contentButtons button:nth-child(1) {
  background: var(--red-600);
}

.contentButtons button:nth-child(2) {
  background: var(--blue-300);
  
}

.contentButtons button:nth-child(3) {
  background: var(--black-700);
  
}