.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {

  html {
    font-size: 87.5%; 
    //         se 16px -> 100%
    // e queremos 14px  - x= 87.5%

    //    Isso para deixar o padrão
    // do sistema escolher a fonte
    // padrão
  }

  .wrapper {
  grid-template-columns: 1fr;
  }
}